# 数据库配置
DB_USERNAME=root
DB_PASSWORD='keras123'
DB_DATABASE=keras_mall
DB_HOST=mysql
DB_PORT=3306
DB_DIALECT=mysql
DB_POOL_MAX=5
DB_POOL_MIN=0
DB_POOL_IDLE=30000
DB_CHARSET=utf8mb4
DB_TIMEZONE=+08:00
DB_STORAGE=./keras_mall.sqlite

# JWT 配置
JWT_SECRET=jwtSecret
JWT_EXPIRES_TIME=604800000
JWT_EXPIRES_IN=1h

# 应用配置
APP_NAME=KerasMall
APP_PORT=8080
# APP_BASE_URL=http://api.daydaymall.com.cn/